body {
    background: url(../src/img/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg);
}

/*-----MENU NAVEGACION/Header-----*/

header{
    height: 10vh;
    padding: 0px !important;
    
}

header h1{
    font-family: "AVENGEANCE MIGHTIEST AVENGER";
    color: rgba(0, 0, 0, 0.808);
    /*-----TextShadow para hacer el efecto contorno de las letras del titulo-----*/
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin-bottom: 0px !important;
}

/* #menuNav{
    font-family: 'acmesa';
    float: right;
    top: -63px;
    border-radius: 5px;
    margin-right: 0px !important;
} */

/* --- Menu Navegación ---*/

#menuNav{
    padding: 0px;
    margin: 0px;
    background: rgba(101, 117, 160, 0.863);
    font-family: 'acmesa';
    font-size: 13px;
}

#menuNav ul{
    list-style: none;
    margin: 0px;
}

#menuNav ul li{
    float: left;
    margin-right: 15px;
}

#menuNav ul li a{
    color: white;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

}

#menuNav ul li a:hover{
    background-color: rgba(224, 49, 55, 0.774);
    padding-left: 25px;
    padding-right: 25px;
    transition: all 300ms;
}

.linkActivo{
    background-color: rgba(255, 164, 167, 0.774);
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 3px solid gray;
}




/*---- ASIEDE / Anuncios -----*/
#anuncios {
    background: url(../src/img/doodles\ gaming.jpg);
    background-size: 100%;
    height: 44vh;
    top: 170px;
    border-radius: 5px;
    color: yellow;
    text-shadow: 2px 2px 0px black;
}

.rowFix {
    margin: 0px !important;
}


/*---- CONTENIDO PRINCIPAL ----*/ 

#contenedorPrincipal {
    background-color: rgba(240, 248, 255, 0.603);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 3px 2px 5px black;
    border-radius: 5px;
}

section {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 2px 3px 2px gray;
}

 h2.tituloNoticia{
    /* top: 600px; */
    /* position: relative; */
    /* float: right; */
    /* color: white; */
    background-color: #80808042;
    padding: 5px;
    margin-right: 15px;
} 

.articleImg{
    width: 35%;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.image-container{text-align:center}

/* -------- FUENTES --------*/

@font-face{
    font-family: 'AVENGEANCE MIGHTIEST AVENGER';
    font-weight: normal;
    src: url('./fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.otf');
}

@font-face{
    font-family: 'acmesa';
    font-weight: normal;
    src: url('./fonts/acmesa.TTF');
}

/* ----- MEDIAQUERIES ----- */

@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    footer {
        display: none;
    }

    #contenedorPrincipal{
        background: none;
        box-shadow: none;
    }

    section {
        background-color: rgba(240, 248, 255, 0.603); 
    }

    #anuncios{
        /* height: auto; */
        /* margin: 0px; */
    }
}

@media only screen and (min-width: 650px) {
    /* For tablets: */
    
}
@media only screen and (min-width: 768px) {
    /* For desktop: */

}